body {
}

head {
    background-color: darkgray;
}

main {
    background-color: lightgray;
}

h1 {
    color: darkorange;
    font-size: 24px;
}

p {
    color: white;
    background-color: lightgray;
}

